*.class
bin/
*.pdf
*-blx.bib
*.aux
*.bbl
*.blg
*.log
*.run.xml
*.synctex.gz

doc/memoria/_region_.prv/tmpJAdOpD/pr1-9.png

doc/memoria/_region_.tex

*.fls

doc/memoria/memoriaPL1.prv/tmpPg92Ec/pr1-7.png

*.toc

*.fdb_latexmk

doc/memoria/auto/
